.board-container {
  height: calc(100vh - 91px);
  background-color: var(--grayL-grayD);
  overflow: auto;

  grid-area: 2 / 2;
}

.board-columns-box::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

.board-columns-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.board-columns-box::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 1rem;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.board-columns-box {
  width: 99.5%;
  height: 99.5%;
  padding: 2.4rem;
  overflow: auto;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 28rem;
  column-gap: 2.4rem;
}

.new-column-box {
  width: 28rem;
  margin-top: 4rem;
  background-color: var(--blueL-gray);
  border-radius: 0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-new-column {
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray);
  transition: all 0.2s;
}

.empty-board-box {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.empty-board-box p {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--gray);
}

.btn-add-new-column {
  padding: 1.4rem 1.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  background-color: var(--purple);
  border-radius: 2.4rem;
}

@media (hover: hover) {
  .btn-new-column:hover {
    color: var(--purple);
  }

  .btn-add-new-column:hover {
    background-color: var(--purple-hover);
  }
}

@media (max-width: 768px) {
  .empty-board-box {
    padding: 0 5rem;
  }
}

@media (max-width: 425px) {
  .board-container {
    height: calc(100vh - 80px);
  }

  .board-columns-box::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .board-columns-box::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
