.column-name {
  color: var(--gray);
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.column-name-ball {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: -0.3rem;
  margin-right: 1.2rem;
}

.column-container:nth-child(3n + 1) .column-name-ball {
  background-color: #67e2ae;
}

.column-container:nth-child(3n + 2) .column-name-ball {
  background-color: #49c4e5;
}

.column-container:nth-child(3n) .column-name-ball {
  background-color: #8471f2;
}

.tasks-container {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.task-box {
  width: 100%;
  padding: 2.4rem 1.6rem;
  background-color: var(--white-gray);
  box-shadow: 0 4px 6px rgba(54, 78, 126, 0.101545);
  border-radius: 0.8rem;
  cursor: pointer;
}

.task-title {
  color: var(--black-white);
  transition: all 0.2s;
}

.subtask-amount-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray);
  margin-top: 0.8rem;
}

@media (hover: hover) {
  .task-box:hover .task-title {
    color: var(--purple);
  }
}
