.sidebar-container {
  background-color: var(--white-gray);
  border-right: 1px solid var(--lines);
  grid-area: 2 / 1 / 3 / 2;
}

.sidebar-body {
  height: calc(100vh - 91px);
  background-color: var(--white-gray);
  display: flex;
  flex-direction: column;
}

.all-boards-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray);
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin: 1.5rem 0 0 3.2rem;
}

.boards-box {
  margin: 2rem 2.4rem 0 0;

  display: flex;
  flex-direction: column;
}

.btn-board {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--gray);
  border-radius: 0 10rem 10rem 0;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.btn-board.selected {
  color: white;
  background-color: var(--purple);
}

.btn-board img {
  margin-left: 3.2rem;
}

.btn-create-new-board img {
  filter: brightness(0) saturate(100%) invert(35%) sepia(63%) saturate(771%)
    hue-rotate(206deg) brightness(96%) contrast(83%);
}

.btn-board.selected img {
  filter: brightness(3);
}

.btn-create-new-board {
  color: var(--purple);
}

.theme-box {
  width: 25rem;
  padding: 1.4rem 0;
  margin: auto 2.4rem 0 2.4rem;
  background-color: var(--grayL-grayD);
  border-radius: 0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.theme-switcher {
  width: 4rem;
  height: 2rem;
  background-color: var(--purple);
  border-radius: 1.2rem;
  cursor: pointer;
}

.theme-switcher-ball {
  font-size: 3.8rem;
  color: white;
  line-height: 1rem;
  transition: all 0.2s;
}

.btn-hide-sidebar {
  padding: 1.5rem 0;
  margin: 0.8rem 2.4rem 3.2rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--gray);
  border-radius: 0 10rem 10rem 0;

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-hide-sidebar img {
  margin-left: 3.2rem;
}

.btn-show-sidebar {
  padding: 1.8rem 2.2rem 1.8rem 1.8rem;
  background-color: var(--purple);
  border-radius: 0 10rem 10rem 0;

  position: absolute;
  left: 0;
  bottom: 3.2rem;
  z-index: 100;
}

.ml {
  margin-left: 1.8rem;
}

.no-border {
  border: 0;
}

.hidden {
  display: none;
}

@media (hover: hover) {
  .theme-switcher:hover,
  .btn-show-sidebar:hover {
    background-color: var(--purple-hover);
  }

  .btn-board:hover,
  .btn-hide-sidebar:hover {
    color: var(--purple);
    background-color: var(--purple10-white);
  }

  .btn-board:hover img,
  .btn-hide-sidebar:hover img {
    filter: brightness(0) saturate(100%) invert(35%) sepia(63%) saturate(771%)
      hue-rotate(206deg) brightness(96%) contrast(83%);
  }

  .btn-board.selected:hover {
    color: white;
    background-color: var(--purple);
    cursor: default;
  }

  .btn-board.selected:hover img {
    filter: brightness(3);
  }
}

@media (max-width: 425px) {
  .sidebar-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
  }

  .sidebar-body {
    width: fit-content;
    height: auto;
    margin: 9rem auto;
    border-radius: 0.8rem;
    box-shadow: 0 1rem 2rem rgba(54, 78, 126, 0.25);
    gap: 1.6rem;
  }

  .theme-box {
    margin: 1.6rem;
  }

  .btn-hide-sidebar {
    display: none;
  }
}
