.sidebar-container {
  background-color: var(--white-gray);
  border-right: 1px solid var(--lines);
}

.logo-box {
  padding: 3.2rem;
}

.logo-mobile {
  display: none;
}

.sidebar-body {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
}

.all-boards-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray);
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin: 1.5rem 0 0 3.2rem;
}

.boards-box {
  margin: 2rem 2.4rem 0 0;

  display: flex;
  flex-direction: column;
}

.btn-board {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--gray);
  border-radius: 0 10rem 10rem 0;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.btn-board.selected {
  color: white;
  background-color: var(--purple);
}

.btn-board img {
  margin-left: 3.2rem;
}

.btn-create-new-board img {
  filter: brightness(0) saturate(100%) invert(35%) sepia(63%) saturate(771%)
    hue-rotate(206deg) brightness(96%) contrast(83%);
}

.btn-board.selected img {
  filter: brightness(3);
}

.btn-create-new-board {
  color: var(--purple);
}

.theme-box {
  width: 25rem;
  padding: 1.4rem 0;
  margin: auto 2.4rem 0 2.4rem;
  background-color: var(--grayL-grayD);
  border-radius: 0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.theme-switcher {
  width: 4rem;
  height: 2rem;
  background-color: var(--purple);
  border-radius: 1.2rem;
  cursor: pointer;
}

.theme-switcher-ball {
  font-size: 3.8rem;
  color: white;
  line-height: 1rem;
  transition: all 0.2s;
}

.btn-hide-sidebar {
  margin: 2.2rem 0 4.5rem 3.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--gray);

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.ml {
  margin-left: 1.8rem;
}

.hidden {
  display: none;
}
